@font-face {
	font-family: 'Georgia';
	src: url('../../assets/fonts/georgia.ttf');
	src: local('Georgia Regular'), local('Georgia-Regular'),
		url('../../assets/fonts/georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/arial.ttf');
	src: local('Arial Regular'), local('Arial-Regular'),
		url('../../assets/fonts/arial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.main-container{
    max-width: 1280px;
    margin: 0 auto;
}
.bg-wrap{
    background-image: url("../../assets/images/start-screen-gradient-background.jpg");
    width: 100%;
    height: 908px;
    background-position: 0 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
    font-family: 'Georgia';
font-style: normal;
}
.burger-menu {
    display: none;
}
header div a h2 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    font-family: 'Arial';
font-style: normal;
}
.navbar {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.navbar ul {
    display: flex;
    flex-direction: row;
}
.first-li {
    border: 3px;
    border-bottom: solid 3px #CDCDCD;
}
.navbar a {
    text-decoration: none;
    color: #CDCDCD;
    margin-left: 36px;
    font-size: 15px;
    line-height: 160%;
    border: 3px;
    font-weight: 400;
    font-family: 'Arial';
font-style: normal;
}
.nav-li:hover {
    border-bottom: solid 3px #F1CDB3;
}
.hide-dog {
    display: none;
}
.first-page{
    width: 95%;
    display: flex;
    margin: 0 auto;
}
.first-page-left {
    max-width: 502px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.first-page-left-text {
    margin-top: 223px;
}
.first-page-left-text h3 {
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 400;
    max-width: 310px;
    line-height: 130%;
    font-family: 'Georgia';
font-style: normal;
}
.first-page-left-text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    color: #CDCDCD;
    max-width: 460px;
    width: 100%;
    height: 72px;
    margin: 42px 0;
    font-family: 'Arial';
font-style: normal;
}
#friend-button {
    max-width: 210px;
    height: 52px;
    background-color: #F1CDB3;
    padding: 15px 45px;
    border-radius: 100px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    line-height: 130%;
    letter-spacing: 00.06em;
    cursor: pointer;
    transform: 0.5s;
    font-family: 'Georgia';
font-style: normal;
}
#friend-button:hover {
    background-color: #FDDCC4;
}
.first-page-right {
    max-width: 728px;
    height: 728px;
}
#start-screen-puppy {
    max-width: 728px;
    width: 100%;
    margin-top: 120px;
}


.about-shelter-section {
    margin-top: 80px;
    margin-bottom: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 66%;
}
.about-shelter-left {
    margin-top: 80px;
    margin-bottom: 100px;
}
.about-shelter-right {
    margin-top: 74px;
    margin-bottom: 114px;
}
.about-shelter-right h3 {
    font-weight: 400;
    font-size: 35px;
    line-height: 128%;
    letter-spacing: 0.06em;
    color:#545454;
    margin-bottom: 23px;
    margin-top: 20px;
    max-width: 370px;
    font-family: 'Georgia';
    font-style: normal;
}
.about-shelter-right p {
    max-width: 430px;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: start;
    font-family: 'Arial';
    font-style: normal;
    color: #4C4C4C;
}
#about-shelter-second-text {
    margin-top: 25px;
}

.our-friends-section {
    background: #F6F6F6;
    width: 100%;
    position: relative;
}
.our-friends-title h3 {
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
    max-width: 400px;
    margin: 0 auto;
    padding: 80px 0 60px 0;
}
.our-friends-title h3, span {
    font-family: 'Georgia';
    font-style: normal;
}
.slider {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}
.cards-box {
    display: flex;
    justify-content: space-around;
    width: 200%;
    transition: 1s;
}
.card {
    width: 270px;
    height: 435px;
    background-color: #F6F6F6;
}
.card:hover {
    background: #FFFFFF;
}
.card h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 00.06em;
    color: #545454;
    margin-top: 30px;
    margin-bottom: 45px;
}
.card img {
    width: 100%;
}
.card img:hover {
    background-color: #FFFFFF;
}
.learn-more {
    display: flex;
    justify-content: center;
}
.learn-more-btn {
    color: #292929;
    font-size: 17px;
    font-family: 'Georgia';
    font-style: normal;
    letter-spacing: 00.06em;
    border: 2px solid #F1CDB3;
    border-radius: 2rem;
    cursor: pointer;
    background: #FAFAFA;
    height: 52px;
    width: 187px;
    padding: 10px 15px;
}
.learn-more-btn:hover {
    background-color: #FDDCC4;
}
#leftArrow {
    position: absolute;
    left: 0.8rem;
}
#rightArrow {
    position: absolute;
    right: 0.08rem;
}
.leftArrow, .rightArrow {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid #DFB394;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 1s;
    top: 267%;
    margin: 20px;
}
.slide-arrow span {
    margin: 0 150px;
}
.leftArrow:hover {
    background: #FDDCC4;
}
.rightArrow:hover {
    background: #FDDCC4;
}
.get-to-know {
    width: 261px;
    height: 52px;
    gap: 10px;
    background: #F1CDB3;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-family: 'Georgia';
    font-style: normal;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
}
.get-to-know a {
    color: #292929;
}
.get-to-know:hover {
    background: #FDDCC4;
}


.hepl-section {
    width: 94%;
    margin: 0 auto;
}
.help {
    margin-bottom: 100px;
}
.help-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.help-title h3 {
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    max-width: 308px;
    color: #545454;
    font-family: 'Georgia';
    font-style: normal;
    text-align: center;
    align-items: center;
}
.list {
    max-width: 1280px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: center;
    flex-wrap: wrap;
    
}
.help-list {
    width: 200px;
    margin-bottom: 70px;
}
.help-list img {
    margin-bottom: 30px;
}
.help-list h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}


.donation {
    height: 462px;
    background: #F6F6F6;
    width: 100%;
}
.donation-box-pic {
    padding-top: 91px;
    padding-left: 182px;
}
.donation-box {
    display: flex;

}
.donation-info {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 182px;
}
.donation-info h3{
    width: 300px;
    height: 90px;
    font-size: 35px;
    font-style: normal;
    line-height: 45.5px;
    letter-spacing: 00.06em;
    font-family: 'Georgia';
    font-weight: 400;
    color: #545454;
}
.donation-info h4 {
    font-size: 15px;
    font-family: 'Georgia';
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 00.06em;
    color: #545454;
    padding-top: 20px;
}
.donation-info a {
    width: 349px;
    height: 43px;
    font-size: 20px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    color: #545454;
    background: #F1CDB3;
    border-radius: 9px;
    padding: 10px 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.donation-info a img {
    padding: 5px 15px;
}
.donation-info p {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    padding-top: 20px;
}
footer {
    background-image: url("../../assets/images/footer-gradient-background.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}
.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.footer-box {
    padding-top: 54px;
    margin: 0 auto;
    width: 320px;
    margin-left: 0;
}
.footer-box h3 {
    width: 278px;
    height: 90px;
    font-size: 34px;
    font-family: 'Georgia';
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
    letter-spacing: 00.06em;
    color: #FFFFFF;
}
.footer-dog {
    padding-top: 40px;
}
#footer-email {
    height: 26px;
    width: 40px;
}
#email, #tel, #marker-width, #marker-park {
    font-size: 20px;
    font-family: 'Georgia';
    font-weight: 400;
    font-style: normal;
    line-height: 115%;
    letter-spacing: 00.06em;
    color: #F1CDB3;
    padding-left: 20px;
}
.footer-content {
    padding-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-content2 {
    padding-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#footer-tel {
   padding-left: 20px;
}
#footer-map {
    padding-left: 25px;
}


@media only screen and (max-width: 1280px) {
   
  header {
      padding: 20px;
  }
  .navbar {
      margin-top: 30px;
  }
  .about-shelter-right {
      padding-left: 20px;
  }
  .donation-box {
      justify-content: center;
  }
  .our-friends-section {
      max-width: 100%;
      justify-content: center;
      margin: 0 auto;
  }
  .cards-box {
      max-width: 95%;
      padding-left: 180px;
      margin: 0;
  }
  #hide-card {
      display: none;
      
  }
  .donation {
      max-width: 100%;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .donation-info {
    padding: 0;
    padding-left: 20px;
  }
  .donation-box-pic {
      padding: 0;
  }
  .slide-arrow {
      display: none;
  }
  footer {
      padding: 0 20px;
  }
}
.burger-line{
    width: 30px;
    height: 2px;

    background-color: #F1CDB3;
    margin-top: 10px;
    margin-bottom: 10px;
}


@media only screen and (max-width: 880px){
    .navbar {
        display: none;
    }
    .burger-menu {
        display: block;
    }
    .menu {
        display: none;
    }
    .first-page-right img {
        width: 200px;
        height: 450px;
    }
    .donation-box{
        flex-wrap: wrap;
        max-width: 800px;
    }
    .donation-box-pic img{
        width: 400px;
        margin: 0;
        padding: 0;
    }
    .donation-info {
        width: 280px;
    }
    .donation-info h3 {
        font-size: 26px;
    }
    .donation-info  a {
        width: 200px;
        font-size: 12px;
    }
    .donation {
        padding: 0;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-container {
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 685px) {
    .donation-info h3 {
        font-size: 20px;
        height: 30px;
    }
    .donation-info h4 {
        font-size: 14px;
    }
    .donation-info a {
        margin: 0;
        padding: 0;
    }
    .donation-info p {
        padding: 0;
    }
}
@media only screen and (max-width: 324px) {
    .navbar {
        display: none;
    }
    .burger-menu{
        display: block;
    }
    .menu {
        display: none;
    }
    .first-page-left-text {
        justify-content: center;
        text-align: center;
    }
    .first-page-right {
        display: none;
    }
    .hide-dog {
        display: block;
        width: 230px;
        justify-content: center;
        align-items: center;
        padding-left: 50px;
        margin: 0;
    }
    .first-page {
        flex-wrap: wrap;

    }
    #start-screen-puppy {
        margin: 0;
        padding-top: 50px;
    }

    .about-shelter-section {
        flex-wrap: wrap;
        margin: 0;
        padding: 10px;
    }
    .about-shelter-left img {
        margin: 0;
    }
    .about-shelter-right p {
        justify-content: center;
        text-align: center;
    }
    .about-shelter-right h3 {
        justify-content: center;
        font-size: 24px;
        text-align: center;
    }
    
    .donation-box {
        flex-wrap: wrap;
        max-width: 320px;
    }
    .donation-box-pic img{
        width: 200px;
        margin: 0;
        padding: 0;
    }
    .donation-info {
        width: 280px;
    }
    .donation-info h3 {
        font-size: 18px;
    }
    .donation-info  a {
        width: 200px;
        font-size: 12px;
    }
    .donation {
        padding: 0;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-container {
        flex-wrap: wrap;
    }
    
}
